body {
    background-color: #00ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#game-container {
    background-color: white;
    box-shadow: 0 0 20px rgb(63, 61, 61);
    border-radius: 3px;
    margin-top: 10px;
}

.player {
    background-color: yellow;
    border: 3px solid black;
    position: absolute;
    transition: transform 0.2s;
    border-radius: 3px;
}

#timer {
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
}

#arrows-container {
    left: 0;
    top: 0;
    position: absolute;
}

.arrow {
    background-image: url('../assets/Arrow.ico');
    position: absolute;
    border: 1px solid black;
}

#arrow-up {
    left: 33%;
    top: 0;
    transform: rotate(-90deg);
}

#arrow-down {
    left: 33%;
    bottom: 0;
    transform: rotate(90deg);
}

#arrow-left {
    left: 0;
    top: 33%;
    transform: rotate(180deg);
}

#arrow-right {
    right: 0%;
    top: 33%;
}

.you-pointer {
    background-color: red;
    position: relative;
    top: -70%;
    left: 25%;
    width: 50%;
    height: 40%;
    border-radius: 20%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}