body {
    background-color: #00ffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#game-container {
    background-color: white;
    box-shadow: 0 0 20px rgb(63, 61, 61);
    border-radius: 3px;
    margin-top: 20px;
    transform-style: preserve-3d;
    z-index: -1;
}

.player {
    border-style: solid;
    position: absolute;
    transition: transform 0.2s;
    border-radius: 3px;
    z-index: 1;
    transform-style: preserve-3d;
}

#exit {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: #f44336;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#timer {
    margin: auto;
    margin-top: 0;
    position: absolute;
    z-index: 0;
    top: -0px;
    font-size: 20px;
    font-weight: 900;
}

#arrows-container {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    transition: left 1s cubic-bezier(.91,-1,.15,1.4);
}

.arrow {
    width: 33%;
    height: 33%;
    background-image: url('../assets/Arrow.ico');
    background-size: cover;
    position: absolute;
}

#show-arrows {
    left: 0;
    top: 0;
    background-color: none;
    background-image: url("https://cdn-icons-png.flaticon.com/512/59/59098.png");
}

#arrow-up {
    left: 33.3%;
    top: 0;
    transform: rotate(-90deg);
}

#arrow-down {
    left: 33.3%;
    bottom: 0;
    transform: rotate(90deg);
}

#arrow-left {
    left: 0;
    top: 33.3%;
    transform: rotate(180deg);
}

#arrow-right {
    right: 0%;
    top: 33.3%;
}

.you-pointer {
    background-color: red;
    position: relative;
    top: -75%;
    left: 25%;
    width: 50%;
    height: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: 2; 
}